.card-article {
  background-color: #fff;
  display: flex;
  padding: 15px;
  border-radius: 20px;

  &__thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
  }
}