body {
  background-color: #f8fbfe;
  color: $color-default-text;
}

.icon {
  position: relative;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.image-container {
  position: relative;
  overflow: hidden;
}
