body {
  // background-color: #f8fbfe;
  background-color: #f6f6f6;
}

.icon {
  position: relative;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.link {
  text-decoration: none;
  color: inherit;

  &:focus {
    text-decoration: none;
  }
}

.image-container {
  position: relative;
  overflow: hidden;
}
