@font-face {
  font-family: 'Lilita One';
  src: url('../../fonts/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headings;
    font-weight: bold;
}