/*
----------------------------------------------------------------------------
Brand colors
----------------------------------------------------------------------------
*/
$color-brand-blue-cerulean: #4bc9ff;
$color-brand-blue-cyan: #0faef1;
$color-brand-blue-lochmara: #1070a7;
$color-brand-blue-azure-radiance: #084367;
$color-brand-blue-port-gore: #1a2e3b;

/*
----------------------------------------------------------------------------
Grey colors
----------------------------------------------------------------------------
*/
$color-grey-lightest: #f5f5f5;
$color-grey-lighter: #e5e5e5;
$color-grey-light: #d5d5d5;
$color-grey: #c5c5c5;
$color-grey-dark: #a5a5a5;
$color-grey-darker: #858585;
$color-grey-darkest: #656565;
$color-grey-darkest-2: #4a4a4a;

/*
----------------------------------------------------------------------------
Action colors
----------------------------------------------------------------------------
*/
$color-action-error: #ff0000;
$color-action-valid: #00ff00;
$color-action-warning: #fca300;

/*
----------------------------------------------------------------------------
Default colors
----------------------------------------------------------------------------
*/
$color-default-text: $color-brand-blue-port-gore;





$bw01: #f0f5f9;
$bw02: #657795;
$bw03: #bdbdbd;


$night: #34495e;
$midnight: #2c3e50;

/* Fonts */
$font-family-headings: 'Inter UI Bold', Arial, sans-serif;
$font-family-base: 'Inter UI Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
