.rich-article {
    font-size: 18px;

    h1 {
        margin: 64px 0 16px;
    }

    h2 {
        margin: 56px 0 16px;
    }

    h3,
    h4,
    h5 {
        margin: 48px 0 16px;
    }

    p {
        margin: 24px 0;
        line-height: 1.7;
    }

    .image-container {
        width: 100%;

        & > span {
            position: static !important;
        }

        & > span > img {
            position: static !important;
            width: 100% !important;
            height: 100% !important;
        }
    }

    img {
        width: 100%;
        border-radius: 5px;

        & + figcaption {
            display: block;
            font-size: 14px;
            margin-left: auto;
            color: $color-grey;
            text-align: right;
        }
    }

    blockquote {
        margin: 24px 0;
        border-radius: 5px;
        padding: 15px 20px;
        background-color: $color-brand-blue-Onahau;
        color: $color-brand-blue-azure-radiance;
        display: flex;
        gap: 20px;

        .icon {
            flex-shrink: 0;
            top: 6px;
        }

        p {
            margin: 0;
        }
    }

    a {
        text-decoration: underline;
        color: $color-brand-blue-cyan;

        &:hover {
            color: darken($color-brand-blue-cyan, 5);
        }

        &:active {
            color: darken($color-brand-blue-cyan, 10);
        }
    }

    ul,
    ol {
        margin: 24px 0 24px 20px;
        list-style-type: unset;
        line-height: 1.5;
    }

    code {
        font-size: 14px;
        background-color: #ececec;
        padding: 4px;
        color: #222;
        border-radius: 5px;
    }
}
