$transition: all 0.5s ease;

.theme-switch {
  /* #region Hide input */
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  /* #endregion */

  &__trail {
    display: flex;
    align-items: center;
    width: 40px;
    height: 15px;
    background: $color-brand-blue-port-gore;
    border-radius: 2.5em;
    transition: $transition;
    cursor: pointer;
  }

  &__handler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: $color-brand-blue-cerulean;
    color: #fff;
    border-radius: 50%;
    transition: $transition;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  input[type="checkbox"]:checked + .theme-switch__trail {
    background: $night;

    .theme-switch__handler {
      transform: translateX(70%);
      background: $midnight;
      color: #fff;
    }
  }
}
