.article {
  font-size: 18px;
  line-height: 1.7;

  &__banner {
    position: relative;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background: transparent no-repeat 50%;
    margin-bottom: 50px;
  }

  &__content {
    border: 1px solid red;
  }
}
