.home {
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to(1000px) {
      flex-direction: row;
    }
  }

  .article-cards-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .card-about {
    height: fit-content;
  }
}
