.card-about {
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    max-width: 300px;
    z-index: 1;

    .card {
        &__img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            margin: 10px auto;
        }

        &__name {
            font-size: 22px;
            margin-top: 10px;
            background: hsla(217, 100%, 50%, 1);
            background: linear-gradient(to bottom right, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
            background: -moz-linear-gradient(to bottom right, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
            background: -webkit-linear-gradient(to bottom right, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__tag-list {
            margin-top: 10px;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 5px;
            row-gap: 5px;
        }

        &__tag {
            background-color: $bw01;
            color: $bw02;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 5px;
        }

        &__description {
            margin-top: 10px;
            line-height: 24px;
        }

        &__cta {
            margin: 25px auto 0;
            text-transform: uppercase;
            gap: 10px;
        }
    }

    .socials {
        margin-top: 15px;

        &__item {
            color: $bw02;
        }
    }
}
