.card {
  display: flex;
  flex-direction: column;
  
  @include themify($themes) {
    background-color: themed(backgroundColor);
  }

  &__thumbnail {
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
  }

  &__name {
    text-align: center;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__tag {
    background-color: red;
  }
}
